
*{
      box-sizing: border-box; 
}

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      scroll-behavior: smooth;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: bold;
}

header {
      width: 100%;
      height: 650px;
      background-size: cover;
      background:url("Board.jpg") no-repeat 50% 100%;
}

#content {
      width: 100%;
      height: 100%;
      line-height: 30px;
      text-align: justify;
      z-index: 1;
}

.Updates
{  
      padding: 80px;   
      margin-top: 80px;
      display: inline-flex;
      font-weight: 800;
      width: 100%;
      height: 100%;
}

.Updates iframe
{
  display:inline-block;
  width: 800px;
  height: 100%;
}

.News ul li
{
      list-style: circle;
      padding-left: 20px;
      padding-right: 20px;
      color: red;
      font-family: 'Montserrat' !important;
}

 #updateheading  
{
  text-align: justify;
      padding-top:2px;
      font-weight: 800;
      text-align: center;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      color: black;
      text-shadow:15px 15px 8px grey;
}
.Updates .News
{     
    margin-left: 60px;
      margin-top: 5px;
      width:30%;
      height: 290px;
      color: rgb(0,0,100);
      background-color: white ;
      box-shadow:.5px .5px 5px grey;
}


.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      z-index: 99;
      position: fixed;
      width: 100%;
      line-height: 60px;     
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      transition: 1s;
}

nav.black ul {
  height: 100%;
      background: white ;
      box-shadow: 5px 5px 10px grey;
}

nav ul li {
      color: black;
      display: inline-flex;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      font-size: 25px;
       font-family: 'Montserrat' !important;
      color:black;
}

nav ul li:hover a 
{
  transition: .8s;
      text-shadow: 1px 1px 2px grey; 
      color: brown;
      text-decoration: none;
}

.nav2 ul li a
{
      font-size: 1.4em;
      font-family: 'Montserrat' !important;
      color:#18191d;
      box-shadow: none;
}

#Board
{
      text-shadow: 5px 5px 0px grey;
      color: white;
       font-style: bold;
       font-size: 80px;
        color: white; 
        padding-top:300px;
        padding-left: 50px;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        text-shadow: 4px 4px 8px #000000;
}
.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

.picture-card {
  width: 250px;
  text-align: center;
  margin-left: 130px;
}

.text-box {
  padding top: 5px;
  padding-bottom: 0px;
  font-size: 25px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: black;
   text-shadow: 4px 4px 8px #000000;
}

.burger
{
      position: absolute;top: 27px;
      left: 20px;padding: 1px;
      width: 40px;
      z-index: 1;
      cursor: pointer;
}
.burger span
{
      background:black;
      width: 30pxms linear all;
      height: 1px;
      display: block;
      transition: 300
}
.burger span:nth-child(1),
.burger span:nth-child(3)
{
      width: 20px;
      margin: 0 auto;
}

.burger span:nth-child(2)
{
      margin: 5px 0;
      width: 32px;
}

.burger:hover span:nth-child(1),
.burger:hover span:nth-child(3)
{
      background-color: black;
      width: 32px;
}

.full-nav
{
      background: url("wall.jpg");
      position: fixed;
      left: 0;
      top: 0px;
      height: 550px;
      width: 100%;
      padding:3.75rem;
      z-index: 99;
      overflow-x:hidden; 
      opacity: 0;
      visibility: hidden;
      transition: translateY(-100px);
      transition: al .4s ease-in-out; 
}

.full-nav.open
{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: all .4s ease-in-out;
      z-index: 99;
}

.nav2
{
      display: flex;
}

.nav2 ul
{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: 700px; 
}

.nav2 ul li
{
      display: flex;
      flex: 50%;
      padding:20px;
      border-bottom: 10px;
      border-right: 10px;
      transition: all 0.5s;
}
.nav2 ul li a{
      color: #DB285E ;
      text-shadow: 0px 0px 0px;
      text-decoration: none;
}

.nav2 ul li a span
{
      color: #b9b9b9;
      font-size: 25px;
}


.nav2 ul li:hover a,
.nav2 ul li:hover a span
{
     text-shadow: 1px 1px;
}

.abc
{  
      position: fixed;
      top: 0;
      right: 0;
      width: 120px;
      height:120px;
      background-color: white;
      border-radius: 0 0 0 120px;
      z-index: 99;
}


.nav-close
{
      display: block;
      width:30px;
      height: 30px;
      position: absolute;
      top: 30px;
      right: 30px;
}

.nav-close span
{
      background: black;
      width: 30px;
      height: 1px;
      display: block;
      position: absolute;
      top: 14px;
}

.nav-close span:nth-child(1)
{
      transform: rotate(45deg);
}
.nav-close span:nth-child(2)
{
      transform: rotate(-45deg);
}

.list-styled li:hover a
{
      color: black;
      text-decoration: none;
}


.list-styled a
{
      color: white;
      text-decoration: none;
}


.Cards
{
  width: 20%;
  margin: 80px;
  display: inline-block;
}


.Image img
{
  width: 50%;
  margin-left: 65px;
}

.Title
{
font-family: 'Amatic SC';
  margin: 10px;
  text-align: center;
}
.content
{
  font-size: 35px;
  margin: 2px;
  font-size: 15px;
  text-align: center;
}

.content p
{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}

.content button
{
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color:black;
  border-radius: 8px;
    box-shadow:.5px .5px 5px grey;
}

.content:hover .click2
{
  transition: .8s;
  color: rgb(0,145,145);
  background-color: white;
}

.content:hover .click1
{
  transition: .8s;
  color:#E04A81;
   background-color: white;
}

.CardRow
{
  background-color: #E04A81;
}

.CardRow2
{
  background-color: rgb(0,145,145);
}

.card-img-top
{
  width: 100%;
  height: 300px;
}



@media(max-width: 1086px) { 

      #Board { 
            font-size: 40px;
      }
      #content p
      {
            font-size: 15px;
            padding-top:2px ;

            
      }

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: white;
      }

      nav.black ul {
            background: white;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            color: white;
            display: block;
      }


.picture-card {
  width: 150px;
  box-shadow: 0 10px 50px 0px rgb(94,88,86);
  text-align: center;
  background-color: white;
  margin-left: 50px;
}

.text-box {
  padding top: 5px;
  padding-bottom: 0px;
  font-size: 25px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: black;
   text-shadow: 4px 4px 8px #000000;
}
 .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .SlideCards
  {
      width: 80%;
  }

  .Updates iframe
{
  margin:10px;
  width: 100%;
  height: 100%;
}

.list-styled a
{

      font-size: 10px;
}

.list-styled li
{     
      display: inline-flex;
}
.col-md-3 
{
  display: inline-block;

}

}




